*{
    box-sizing: border-box;
    overflow-x: hidden;
}
h1{
    overflow-y: hidden;
}
h2{
    overflow-y: hidden;
}
h3{
    overflow-y: hidden;
}
h4{
    overflow-y: hidden;
}
h5{
    overflow-y: hidden;
}
.menu_secundario{
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
}
.menu_primario{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1rem;
    height: 50px;
}
header ul{
    list-style: none;
}
header li{
    overflow: hidden;
}
header li a{
    text-decoration: none;
    color: white;
    overflow-y: hidden;
}
.navbar{
    background-color: gray;
}
#marcas img{
    filter: grayscale(1);
    transition: filter 0.5s;
}
#marcas img:hover{
    filter: grayscale(0);
}
#ofertas_del_mes{
    background-color: rgb(49, 49, 49);
}
#ofertas_del_mes__div_1{
    color: black;
    height: 60px;
    font-family: 'Bebas Neue', cursive;
}
.ofertas_titulo{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 10px;
    overflow-y: hidden;
}
#ofertas_del_mes__div_1 span{
    color: red;
}
.producto_div{
    margin: 15px;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
}
.nombre_articulo{
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 1.3rem;
    overflow-y: hidden;
}
.precio_articulo{
    text-align: center;
    font-size: 1.1rem
}
.precio_articulo span{
    text-decoration: line-through 2px;
    font-size: .8rem;
}
.icono_caract{
    font-size: 2.5rem;
    color: red;
}
.titulo_caract{
    font-size: 1rem;
    font-family: 'Mukta', sans-serif;
    overflow-y: hidden;
    font-weight: 800;
}
.descripcion_caract{
    font-size: .8rem;
    font-family: 'Mukta', sans-serif;
    overflow-y: hidden;
    text-align: center;
}
#galeria{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#galeria img{
    width: 100%;
    border: 1px solid white;
    transition: transform 1s;
}
#galeria img:hover{
    transform: scale(1.1,1.1);
}
.img1{
    grid-area: 1 / 1 / 3 / 3;
}
.img8{
    grid-area: 3 /3 / 5 / 5;
}
.opciones{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}
.opciones li a{
    text-decoration: none;
    color: black;
}
.foto_opciones{
    visibility: hidden;
}
#productos{
    background-color: rgb(43, 43, 43);
}
#productos h3{
    font-family: 'Bebas Neue', cursive;
    color: white;
}
.producto .producto_div{
    float: left;
}
#contacto_form{
    background-color: rgb(43, 43, 43);
}
footer{
    color: white;
    font-family: 'Bebas Neue', cursive;
}
footer a{
    text-decoration: none;
    color: white;
}
.logo_redes_footer{
    font-size: 1.5rem;
}
.titulo_de_lista{
    font-size: 1.3rem;
}
/* ------------------------------------------Media Querie 480px------------------------------------------------- */
@media screen and (min-width: 480px) {
    .menu_primario{
        font-size: 1.5rem;
    }
    #ofertas_del_mes__div_1{
        height: 70px;
    }
    .ofertas_titulo{
        font-size: 3rem;
    }    
    .nombre_articulo{
        font-size: 1.6rem;
    }
    .precio_articulo{
        font-size: 1.5rem;
    }
    .precio_articulo span{
        font-size: 1.2rem;
    }
    .icono_caract{
        font-size: 3.5rem;
    }
    .titulo_caract{
        font-size: 1.3rem;
    }
    .descripcion_caract{
        font-size: 1.1rem;
        font-family: 'Mukta', sans-serif;
        overflow-y: hidden;
    }       
    .menu_secundario{
        font-size: 1.5rem;
    }
    .menu_primario{
        font-size: 1.5rem;
        overflow-y: hidden;
    }
.opciones{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    }
}
@media screen and (min-width: 576px){
    .menu_secundario{
        font-size: 1.3rem;
    }
}

/* ------------------------------------------Media Querie 480px------------------------------------------------- */
@media screen and (min-width: 768px) {
    .foto_opciones{
        visibility: visible;
    }
}