*{
    box-sizing: border-box;
    overflow-x: hidden;
}
h1{
    overflow-y: hidden;
}
h2{
    overflow-y: hidden;
}
h3{
    overflow-y: hidden;
}
h4{
    overflow-y: hidden;
}
h5{
    overflow-y: hidden;
}
span{
    overflow-y: hidden;
}
.menu_secundario{
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
}
.menu_primario{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1rem;
    height: 50px;
    overflow-y: hidden;
}
header ul{
    list-style: none;
}
header li{
    overflow: hidden;
}
header li a{
    text-decoration: none;
    color: white;
    overflow-y: hidden;
}
.navbar{
    background-color: gray;
}
#marcas img{
    filter: grayscale(1);
    transition: filter 0.5s;
}
#marcas img:hover{
    filter: grayscale(0);
}
#ofertas_del_mes{
    background-color: rgb(49, 49, 49);
}
#ofertas_del_mes__div_1{
    color: black;
    height: 60px;
    font-family: 'Bebas Neue', cursive;
}
.ofertas_titulo{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 10px;
    overflow-y: hidden;
    text-align: center;
}
#ofertas_del_mes__div_1 span{
    color: red;
    text-shadow: 2px 2px 2px black;
}
.contenedor_productos_oferta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto_div{
    margin: 10px;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
}
.producto_div_ofertas{
    margin: 10px;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
}
.nombre_articulo{
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 1.3rem;
    overflow-y: hidden;
}
.precio_articulo{
    text-align: center;
    font-size: 1.1rem
}
.precio_articulo span{
    text-decoration: line-through 2px;
    font-size: .8rem;
}
.icono_caract{
    font-size: 2.5rem;
    color: red;
}
.titulo_caract{
    font-size: 1rem;
    font-family: 'Mukta', sans-serif;
    overflow-y: hidden;
    font-weight: 800;
}
.descripcion_caract{
    font-size: .8rem;
    font-family: 'Mukta', sans-serif;
    overflow-y: hidden;
    text-align: center;
}
#galeria{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#galeria img{
    width: 100%;
    border: 1px solid white;
    transition: transform 1s;
}
#galeria img:hover{
    transform: scale(1.1,1.1);
}
.img1{
    grid-area: 1 / 1 / 3 / 3;
}
.img8{
    grid-area: 3 /3 / 5 / 5;
}
.opciones{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}
.opciones li a{
    text-decoration: none;
    color: black;
}
.foto_opciones{
    visibility: hidden;
}
#productos{
    background-color: rgb(43, 43, 43);
}
#productos h3{
    font-family: 'Bebas Neue', cursive;
    color: white;
}
.producto .producto_div{
    float: left;
}
#contacto_form{
    background-color: rgb(43, 43, 43);
}
footer{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
}
footer a{
    text-decoration: none;
    color: white;
}
.logo_redes_footer{
    font-size: 1.5rem;
}
.titulo_de_lista{
    font-size: 1.3rem;
    font-weight: 400;
}
@media screen and (min-width: 480px) {
    .menu_primario li a{
        font-size: 1.5rem;
    }
    #ofertas_del_mes__div_2 .producto_div{

    }
}
@media screen and (min-width: 576px) {
    #ofertas_del_mes{
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    #ofertas_del_mes__div_1{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    #oferas_del_mes__div_2{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .icono_caract{
        font-size: 3.5rem;
    }
    .titulo_caract{
        font-size: 1.5rem;
    }
    .descripcion_caract{
        font-size: 1rem;
    }
}
@media screen and (min-width: 768px) {
    .menu_secundario{
        font-size: 1.4rem;
    }
    .menu_primario{
        height: 60px;
        overflow-y: hidden;
    }
    .menu_primario li a{
        font-size: 1.6rem;
    }   
    .opciones_listas{
        font-size: 1.8rem;
    }
    .foto_opciones{
        visibility: visible;
    }
    .ofertas_titulo{
        font-size: 3.5rem;
    }
    .nombre_articulo{
        text-align: center;
        color: black;
        font-weight: 800;
        font-size: 1.6rem;
        overflow-y: hidden;
    }
    .precio_articulo{
        text-align: center;
        font-size: 1.3rem
    }
}
@media screen and (min-width: 992px) {
    .nombre_articulo{
        font-size: 2rem;    
    }
    .precio_articulo{
        font-size: 1.5rem;
    }
    .contenedor_productos_oferta span{
        font-size: 1rem;
    }
    .icono_caract{
        font-size: 4.5rem;
    }
    .titulo_caract{
        font-size: 2.2rem;
    }
    .descripcion_caract{
        font-size: 1.4rem;
    }
    footer{
        font-size: 1.4rem;
    }
    .titulo_de_lista{
        font-size: 1.8rem;
    }
}
@media screen and (min-width: 1200px) {
    .ofertas_titulo{
        font-size: 5rem;
    }
    .nombre_articulo{
        font-size: 2.4rem;
    }
    .precio_articulo{
        font-size: 2rem;
    }
    .producto_div_ofertas span{
        font-size: 1.5rem;
    }
    footer{
        font-size: 1.7rem;
    }
}